body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.weather-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#weather-box {
    width: 200px; /* Set a fixed width */
    height: 200px; /* Set a fixed height */
    background: linear-gradient(135deg, #ff5733, #00408e);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#weather-info {
    color: #fff;
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.2; /* Adjust line height for better readability */
}

#weather-temperature,
#weather-description {
    color: #fff; /* Set text color to white */
    margin-bottom: 5px; /* Add spacing between temperature and description */
}

#weather-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}
